p.first::first-letter {
  font-size: 200%;
}

main p:first-child {
  font-style: italic;
}

:root {
  --fancy-color: #502000;
}

h1, h2 {
  color: var(--fancy-color);
}

p q  {
  font-variant: small-caps;
}

main>p {
  line-height: 200%;
}